@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Slackey&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: palegoldenrod;
    font-family: 'Peralta', 'sans-seif';
}

.hide {
    display: none;
}

h1 {
    color: rgb(1, 33, 51);
}

#logo {
    font-family: 'Slackey', cursive, 'Sans-seif';
    text-align: center;
    font-size: 68px;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 5vh;
}

#main-container {
    background-color: rgb(1, 33, 51);
    width: 60%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 40px;
    border: 0.1em solid #000000;
    border-radius: 0.40em;

}


button {
    color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #ff6600;
    text-align: center;
    transition: all 0.15s;
    border-radius: 0.18em;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.46em 1.6em;
    display: inline-block;
    border: 0.1em solid #000000;
    font-weight: 300;
    font-size: larger;

}

button:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #000000;
    border-color: #FFFFFF;
}


#start {
    width: 60%;
    height: 100px;
    margin-left: 30%;
    margin-top: 60px;
    font-family: 'Peralta', sans-serif;
    font-size: xx-large;
    display: block;
    margin: 0.4em auto;
 



}

#start-heading {
    color: white;
    font-size: 48px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 140px;


}

#game-container {
    width: 100%;
    height: 100%;
    display:none;

}

#question-container {
    color: white;
    text-align: center;
    height: auto;
    padding-top: 5%;
    width: 90%;
    margin: 0 auto;


}

#question {
    color: white;
    margin: 0;
}

#option-container {
    height: 60%;
    text-align: center;
    width: 100%;
    padding-top: 1%;
}

.options {
    font-size: larger;
    width: 35%;
    height: auto;
    margin: 10% 5% 0% 5%;


}

#progress {
    padding-top: 10px;
    font-size: x-large;
    text-align: center;
    font-weight: 500;
    display: none;
    /*DOLD */
}


#next-container {
    text-align: right;
    padding-bottom: 10px;
    height: auto;

}



#result {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    display: none;
    /* DOLD */
}

#score {
    color: rgb(252, 138, 46);
    margin: 0;
    padding-top: 100px;
    text-shadow: 0.5px 1px #000;

}

#play-again-heading {
    color: white;
    padding-top: 50px;
}

#play-again {
    margin-top: 30px;
    font-size: x-large;
}



@media only screen and (min-width: 320px) and (max-width: 480px) {

    /* Start page */

    #logo {
        font-size: 46px;
    }

    #main-container {
        width: 90%;
    }

    #start-heading {
        margin: 0;
        padding-top: 40%;
        font-size: 30px;
        letter-spacing: 0;
    }

    #start {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
        height: 80px;
    }

    /* Game page */




    .options {
        margin-top: 20px;
        font-size: small;
    }



    #next-container {
        text-align: center;
        margin: 0;



    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #main-container {
        width: 90%;
    }

    #start-heading {
        margin: 0;
        padding-top: 20%;
        font-size: 36px;
        letter-spacing: 0;
    }

    #start {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
        height: 80px;
    }




}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #main-container {
        width: 80%;
    }

    #start {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
        height: 80px;
    }


}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #start {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
        height: 80px;
    }

    #main-container {
        width: 80%;
    }

}

@media only screen and (min-width: 1201px) {
    #next {
        height: auto;
        font-size: 22px;
        width: 30%;

    }

    #next-container {
        padding-right: 10%;
    }


}