@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Slackey&display=swap');

body {
    background-color: palegoldenrod;
    font-family: 'Peralta', 'sans-seif';
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1,
h2 {
    color: rgb(1, 33, 51);
}

#logo {
    font-family: 'Slackey', cursive, 'Sans-seif';
    text-align: center;
    font-size: 68px;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 5vh;
}

#main-container {
    background-color: rgb(1, 33, 51);
    width: 60%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 40px;
    border: 0.1em solid #000000;
    border-radius: 0.40em;

}

#start {
    width: 40%;
    height: 100px;
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    margin-left: 30%;
    margin-top: 60px;
    border-radius: 0.18em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Peralta', sans-serif;
    font-size: xx-large;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #ff6600;
    text-align: center;
    transition: all 0.15s;
}

#start:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #000000;
    border-color: #FFFFFF;
}

@media all and (max-width:30em) {
    #start {
        display: block;
        margin: 0.4em auto;


    }
}

#start-heading {
    color:white;
    font-size:48px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 140px;
}

#game-container {
    display: none;
}

#progress {
    display: none;
}